*.iml
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
.fleet
.kotlin
iosApp/Pods
composeApp/composeApp.podspec
iosApp/Podfile.lock
secrets.properties
iosApp/iosApp/AppSecrets.plist
kotlin-js-store/yarn.lock
